@import url('https://fonts.cdnfonts.com/css/jqkas-wild');

body {
  background-color: #052035;
  color: white;
}

.gradient {
  background: radial-gradient(circle, rgba(168, 255, 93, 0.71) 0%, rgba(138, 254, 95, 0.1) 100%);
}

.jack {
  font-family: 'JQKAs Wild', sans-serif;
}

.bg {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.bgballs {
  background-image: url(./assets/ball.svg);
  background-position: center;
  background-size: cover;
  opacity: 70%;
  background-repeat: no-repeat;
}

.bg2 {
  background-image: url(./assets/bg2.svg);
  background-position: center;
  background-size: cover;
  opacity: 70%;
  background-repeat: no-repeat;
}

.bg3 {
  background-image: url(./assets/bg3.svg);
  background-position: center;
  background-size: cover;
  opacity: 70%;
  background-repeat: no-repeat;
}

.bg4 {
  background-image: url(./assets/bg4.svg);
  background-position: center;
  background-size: cover;
  opacity: 70%;
  background-repeat: no-repeat;
}

.bg41 {
  background-image: url(./assets/bg4.svg);
  background-position: top;
  background-size: contain;
  opacity: 70%;
  background-repeat: repeat-y;
}

/* Media query to remove repeat-y on small screens */
@media only screen and (max-width: 700px) {
  .bg41 {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.bg5 {
  background-image: url(./assets/bg5.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg6 {
  background-image: url(./assets/bg6.svg);
  background-position: center;
  background-size: cover;
  opacity: 70%;
  background-repeat: no-repeat;
}
